@font-face {
 font-family: "Century Gothic";
 src: url("/assets/fonts/gothic.eot") /* EOT file for IE */
}
@font-face {
 font-family: "Century Gothic";
 src: url("/assets/fonts/gothic.ttf") /* TTF file for CSS3 browsers */
}

/*======================================================== BASE **/
* {
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	font-size: 12px;
}

html {
   /* background: #000 !important; */
}

#content {
	position: relative;
	display: block;
	padding-top: 40px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
	position: relative;
	display: block;
	width: 90%;
	margin: 0 auto;
}

/*======================================================== HEADER & NAVBAR **/
#content {
    padding-right: 0;
    padding-left: 0;
}
header {
    padding-top: 20px;
}

footer {
    text-align: center;
}

/*======================================================== INSTALL CHROME FRAME **/
.chromeframe {
    text-align: center;
    padding: 10px 0;
}