<!-- Le masterhead
================================================== -->
<div class="jumbotron masthead page" id="home">
  <div class="container">
    <h1>Shared List</h1>
    <p>{{&lang.Anonymous, powerful, easy and cooperative <br>sharing platform for simple lists !}}</p>
    <p>
      <a href="#new" class="btn btn-primary btn-large">{{lang.Create a new list}}</a>
    </p>
    <ul class="masthead-links">
      <li>
        Version {{site.official_version}}
      </li>
    </ul>
  </div>
</div>

<!-- Le container
================================================== -->
<div id="pad_editor" class="wrapper page">
    <div class="row-fluid">
    	<div class="span12" id="pad_container"></div>
	</div>
</div>

<!-- Les templates
================================================== -->
<script id="tpl_textarea_default" type="text/template">
  <h4>{{lang.Share Link}} : <a href="[[link]]" title="{{lang.Use this link for sharing !}}">[[link]]</a></h4>
  <textarea id="pad" disabled>{{lang.Loading}}. ({{lang.Or its probably broken and you should come back later}}.)</textarea>
</script>

<script id="tpl_lang_online" type="text/template">
{{lang.Online}}
</script>
<script id="tpl_lang_offline" type="text/template">
{{lang.Offline}}
</script>
<script id="tpl_lang_connecting" type="text/template">
{{lang.Connecting}}...
</script>
<script id="tpl_lang_error" type="text/template">
{{lang.Error}}
</script>