<!-- Le masterhead
================================================== -->
<div class="jumbotron masthead page" id="home">
  <div class="container">
    <h1>Shared List</h1>
    <p>Anonymous, powerful, easy and cooperative sharing platform for simple lists.</p>
    <p>
      <a href="#new" class="btn btn-primary btn-large">Create a new list</a>
    </p>
    <ul class="masthead-links">
      <li>
        Version 1.0.0
      </li>
    </ul>
  </div>
</div>

<!-- Le container
================================================== -->
<div id="editor" class="wrapper page">
	<div class="row-fluid">
    	<div class="span12">
    		<h4>Create a new list</h4>
    	</div>
	</div>
    <div class="row-fluid">
    	<div class="span12" id="pad_container"></div>
	</div>
</div>

<!-- Les templates
================================================== -->
<script id="tpl_textarea_default" type="text/template">
	Loading. (Or its probably broken and you should come back later.)
</script>